CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_generic=y
CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v2=y
CONFIG_IMAGEOPT=y
CONFIG_PACKAGE_adblock=y
CONFIG_PACKAGE_ca-bundle=y
# CONFIG_PACKAGE_coreutils-base64 is not set
CONFIG_PACKAGE_coreutils-sort=y
# CONFIG_PACKAGE_dns2socks is not set
# CONFIG_PACKAGE_ipset is not set
# CONFIG_PACKAGE_iptables-mod-tproxy is not set
# CONFIG_PACKAGE_kmod-ip6tables is not set
# CONFIG_PACKAGE_kmod-ipt-tproxy is not set
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
# CONFIG_PACKAGE_kmod-nf-reject6 is not set
CONFIG_PACKAGE_kmod-tun=y
# CONFIG_PACKAGE_libipset is not set
# CONFIG_PACKAGE_libmnl is not set
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-meshwizard=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-ssr-plus is not set
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-i18n-control-webrestriction-zh-cn=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-meshwizard-zh-cn=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
CONFIG_PACKAGE_luci-proto-relay=y
CONFIG_PACKAGE_meshwizard=y
# CONFIG_PACKAGE_microsocks is not set
CONFIG_PACKAGE_relayd=y
# CONFIG_PACKAGE_resolveip is not set
# CONFIG_PACKAGE_shadowsocksr-libev-alt is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-local is not set
CONFIG_PACKAGE_smartdns=y
# CONFIG_PACKAGE_tcping is not set
CONFIG_PACKAGE_uugamebooster=y
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_watchcat=y
CONFIG_PACKAGE_xray-core=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_XRAY_CORE_COMPRESS_UPX=y
